/* ----------------------------------------- */
/* ----------------------------------------- */
/* ----------------------------------------- */
/* ----------------------------------------- */
/* ----------------------------------------- */
/* darkmode, jquery effects внизу*/


html, body {
    max-width: 100%;
}

body {
    font-family: 'Open Sans', sans-serif;

}




.container {
    width: 100%;
    margin: 0 auto;
}

.top-section {
    display: flex;
    background: #313131;
    position: fixed;
    width: 100%;
    z-index: 200;
    transition: .5s;
}

.main-logo {
    display: flex;
    align-items: center;
    justify-items: center;
}

.main-logo-image {
    margin: 22px 27px 21px 27px;
    min-height: 27px;
    min-width: 27px;
    max-height: 27px;
    max-width: 27px;
}

.main-logo-text {
    font-size: 22px;
    line-height: 30px;
    text-align: center;
    color: #FFFFFF;
    margin: 22px 0 22px 10px;
    font-weight: bold;
}

.top-nav-menu {
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.top-navigation-list {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}



.nav-item-link {
    text-transform: uppercase;
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    display: block;
    padding: 28px 35px 26px;

}

.nav-item-link:hover {
    color: #14B9D5;
    transition: .5s;
}

.search {
    background: #000000;
    width: 68px;
    height: content-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search img {
    height: 17px;
    width: 17px;
}

.latest-news {
    display: flex;
    height: 369px;
    justify-content: center;
    background: url("../img/header-bg-full.jpeg");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: repeat-x;
    background-position-y: bottom;
    box-shadow: inset 0 0 1884px rgb(0 0 0);
}

.section-news-content {
    padding-top: 164px;
}

.section-title {
    color: #FFFFFF;
    font-weight: bold;
    font-size: 27px;
    line-height: 37px;
    text-transform: uppercase;
}

.buttons-container {
    display: flex;
    justify-content: center;
    margin-top: 44px;

}

.main-button {
    width: 170px;
    border: none;
    padding-top: 16px;
    padding-bottom: 17px;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
    border-radius: 5px;
    cursor: pointer;
}


.button-subs {
    background: #89CA62;
    margin-right: 20px;
}

.button-optional {
    background: #14B9D5;
}

.post-container {
    width: 100%;
    margin: 0 auto;
    background: #F2F2F2;
    height: 1054px;
    transition: 1s
}

.posts {
    margin: 0 auto;
    display: flex;
    width: 1200px;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
}


.secondary-title {
    color: #18B4CF;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 27px;
    line-height: 37px;
    text-align: center;
    padding-top: 49px;
    padding-bottom: 52px;
    position: relative;
    cursor: pointer;
}

.secondary-title:hover {
    font-size: 35px;
    transition: .5s;
}

.vanglo-house {
    margin-right: 30px;
    margin-bottom: 31px;
}

.vanglo-house-image {
    height: 259px;
    width: 370px;
}

.post-title {
    background: #FFFFFF;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
    padding-top: 20px;
    padding-bottom: 22px;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #353A3D;
}

.posts a {
    text-decoration: none;
}

.sunrise-expanse {
    margin-right: 30px;
    margin-bottom: 32px;
}

.sunrise-expanse-image {
    height: 380px;
    width: 370px;
}

.stargaze-resort-image {
    height: 290px;
    width: 370px;
}

.royal-blossom {
    position: relative;
    bottom: 121px;
    margin-right: 30px;


}

.royal-blossom-image {
    width: 370px;
    height: 260px;
}

.sunset-shack {
    margin-right: 30px;
}

.sunset-shack-image {
    width: 370px;
    height: 247px;
}

.glorius-expanse {
    position: relative;
    bottom: 86px;
}

.glorius-expanse-image {
    width: 370px;
    height: 380px;
}

.clients {
    background-attachment: fixed;
    background-size: cover;
    background-repeat: repeat-x;
    box-shadow: inset 0 0 1884px rgb(0 0 0);
    height: 588px;
    background-image: url("../img/parallax-bg.jpeg");
}

.clients-grid-container {
    display: grid;
    grid-template-columns: repeat(4, 200px);
    grid-template-rows: repeat(6, 50px);
    grid-column-gap: 60px;
    grid-row-gap: 0px;
    align-items: center;
    justify-content: center;
    padding-top: 107px;
}

.clients-title {
    color: #FFFFFF;
    font-weight: bold;
    font-size: 32px;
    line-height: 44px;
    text-align: center;
    text-transform: uppercase;
    grid-area: 1 / 1 / 2 / 5;
    position: relative;
}

.clients-title::after{
    content: "";
    display: block;
    height: 3px;
    width: 60px;
    position: absolute;
    top: 131px;
    left: 460px;
    z-index: 33;
    border: none;
    background: #18B4CF;
}

.client-national-post {
    grid-area: 6 / 1 / 7 / 2;
}

.client-dryme {
    grid-area: 6 / 2 / 7 / 3;
    padding-left: 40px;
}

.client-house-home {
    display: grid;
    grid-area: 6 / 3 / 7 / 4;
}

.client-journy {
    grid-area: 6 / 4 / 7 / 5;
}





.top-rated-container {
    background: rgba(0, 0, 0, 0.0001);
    width: 100%;
    margin: 0 auto;
}

.top-rated-fotos-grid-container {
    display: grid;
    grid-template-columns: repeat(7, 271px);
    grid-template-rows: 190px;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    overflow: hidden;
}

.top-rated-item {
    height: 190px;
    width: 271px;
}

.top-rated-item.kids-store {
    grid-area: 1 / 1 / 2 / 2;

}

.top-rated-item.kids-store-lighting {
    grid-area: 1 / 2 / 2 / 3;
}

.top-rated-item.kids-store-lighting2 {
    grid-area: 1 / 3 / 2 / 4;
}

.top-rated-item.pools {
    grid-area: 1 / 4 / 2 / 5;
}

.top-rated-item.horses {
    grid-area: 1 / 5 / 2 / 6;
}

.top-rated-item.buildings {
    grid-area: 1 / 6 / 2 / 7;
}

.top-rated-item.brazil-stadium {
    grid-area: 1 / 7 / 2 / 8;
}

.hot-news {
    width: 100%;
    margin: 0 auto;
}

.hot-news-top-grid-container {
    display: grid;
    grid-template-columns: repeat(3, 262px) 277px;
    grid-template-rows: 259px;
    grid-column-gap: 35px;
    grid-row-gap: 0px;
    justify-content: center;
}

.news-title {
    padding-left: 10px;
    padding-right: 24px;
    padding-bottom: 40px;
    margin-top: 41px;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #353A3D;
    text-align: right;
}

.news-text {
    margin-top: 14.5px;
    font-size: 14px;
    line-height: 21px;
    font-weight: 600;
    color: #5B6469;
    text-align: right;

}

.news-item1 {
    display: flex;
    background: #F9F7F7;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
    grid-area: 1 / 1 / 2 / 4;

}

.news-item2 {
    grid-area: 1 / 4 / 2 / 5;
    background: #F9F7F7;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
    width: 277px;
    display: flex;
    flex-direction: column;
}
.news-title-secondary {
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    padding-top: 10px;
    color: #353A3D;
}

.hot-news-main-grid-container {
    display: grid;
    grid-template-columns: repeat(4, 247px);
    grid-template-rows: repeat(2, 418px);
    grid-column-gap: 60px;
    grid-row-gap: 44px;
    margin-top: 44px;
    justify-content: center;
    margin-bottom: 44px;
}

.news-item3 {
    grid-area: 1 / 1 / 2 / 3;
    background: #F9F7F7;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
}

.news-item4 {
    grid-area: 1 / 3 / 2 / 5;
    background: #F9F7F7;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
}

.news-item5 {
    grid-area: 2 / 1 / 3 / 3;
    background: #F9F7F7;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
}

.news-item6 {
    grid-area: 2 / 3 / 3 / 5;
    background: #F9F7F7;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
}

.news-title-main {
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    text-align: right;
    color: #353A3D;
    padding-right: 14px;
    padding-left: 13px;
    padding-top: 10px;
}

.hot-news-bottom-grid-container {
    display: grid;
    grid-template-columns: 277px repeat(3, 262px);
    grid-template-rows: 259px;
    grid-column-gap: 35px;
    grid-row-gap: 0px;
    justify-content: center;
    margin-bottom: 77px;
}

.news-item7 {
    grid-area: 1 / 1 / 2 / 2;
    background: #F9F7F7;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
    width: 277px;
    display: flex;
    flex-direction: column;
}
.news-item8 {
    grid-area: 1 / 2 / 2 / 5;
    display: flex;
    background: #F9F7F7;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
}


.footer-info-grid-container {
    display: grid;
    grid-template-columns: repeat(4, 292px);
    grid-template-rows: 80px;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    background: #000000;
    justify-content: center;
}

.rights-info {
    grid-area: 1 / 1 / 2 / 3;
    font-size: 13px;
    line-height: 13px;
    color: #FFFFFF;
    text-align: left;
    margin-top: 29px;
    margin-bottom: 30px;
}
.developer-info {
    grid-area: 1 / 4 / 2 / 5;
    margin-top: 29px;
    margin-bottom: 27px;
    text-align: right;

}
/* ----------------------------------------- */
/* ----------------------------------------- */
/* ----------------------------------------- */
/* ----------------------------------------- */
/* ----------------------------------------- */
/* ----------------------------------------- */
/* ----------------------------------------- */
/* ----------------------------------------- */
/* ----------------------------------------- */
/* ----------------------------------------- */
/* darkmode */

body {
    background: white;
    transition: 1s;
}
#ChangeTheme {
    width: 0;
    height: 0;
    opacity: 0;
}
label {
    display: block;
    height: 15px;
    width: 60px;
    position: relative;
    transform: rotate(90deg) translate(50px, 100px);
}
span.slide {
    position: absolute;
    width: 60%;
    height: 100%;
    background: #dadada;
    border-radius: 30px;
    left: -30px;
    bottom: 160px;
    cursor: pointer;
}
span.slide:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    background: #fff;
    border-radius: 50%;
    top: -2px;
    left: 0px;
    transition: 0.5s;
    box-shadow: rgba(0, 0, 0, 0.21) 0px 0px 7px 1px;
    cursor: pointer;
}
.txt {
    position: relative;
    transform: translatex(-50px);
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    line-height: 20px;
    font-size: 15px;
    margin-top: 19px;
}
.txt p:nth-child(1) {
    color: white;
    font-weight: bold;
    transition: .5s;
}



#ChangeTheme:checked + span.slide:before {
    transform: translatex(20px);
}

body.dark-mode {
    background: black;
    transition: .5s;
}
.dark-mode .txt p:nth-child(1) {
    color: white;
    font-weight: 300;
    transition: .5s;
}
.dark-mode .txt p:nth-child(2) {
    color: white;
    font-weight: bold;
    transition: .5s;
}

.dark-mode {
    background: black;
    transition: 0.5s;
}



/*to the top button*/



.to-top-button {
    width:200px;
    background: #18B4CF;
    border-radius: 80px;
    text-align:center;
    vertical-align: center;
    padding:5px;
    position:fixed;
    bottom:25px;
    right:25px;
    cursor:pointer;
    display:none;
    color: black;
    font-weight: bold;
    font-size:16px;
    text-transform: uppercase;
}


.to-top-button img {
    margin-top: 5px;
    bottom: 40px;
    width: 30px;
    height: 20px;

}



